/*@color:#ff9800;*/
* {
  padding: 0;
  border: 0;
  margin: 0;
}
html {
  position: relative;
  height: 100%;
}
body {
  font-family: 'Roboto', sans-serif;
  background: #eee;
}
.wrapperLoginPage {
  top: 0;
  bottom: 0;
  height: 100%;
  position: absolute;
  width: 100%;
  background-image: url(../Contents/images/bg.jpg);
  background-size: cover;
  background-position: 50%;
}
.wrapperLoginPage .header {
  background: #6889ff;
  padding: 10px;
  margin-bottom: 40px;
  border-radius: 2px 2px 0 0;
}
.wrapperLoginPage .header h1 {
  color: #fff;
  font-weight: 400;
  font-size: 18px;
}
.wrapperLoginPage .wrapperLoginForm {
  background: #fff;
  padding-bottom: 80px;
  max-width: 680px;
  margin: auto;
  border-radius: 2px;
  margin-top: 12%;
  position: relative;
}
.wrapperLoginPage .wrapperLoginForm form {
  padding: 0 20px;
}
.wrapperLoginPage .wrapperLoginForm .inputWrapper {
  position: relative;
}
.wrapperLoginPage .wrapperLoginForm .inputWrapper input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #757575;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.wrapperLoginPage .wrapperLoginForm .inputWrapper input:focus {
  outline: none;
}
.wrapperLoginPage .wrapperLoginForm .inputWrapper input:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}
.wrapperLoginPage .wrapperLoginForm .inputWrapper input:focus ~ label {
  top: -20px;
  font-size: 14px;
  color: #6889ff;
}
.wrapperLoginPage .wrapperLoginForm .inputWrapper input:focus ~ .bar::before,
.wrapperLoginPage .wrapperLoginForm .inputWrapper input:focus ~ .bar::after {
  width: 50%;
}
.wrapperLoginPage .wrapperLoginForm .inputWrapper input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #6889ff;
}
.wrapperLoginPage .wrapperLoginForm .inputWrapper .highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}
.wrapperLoginPage .wrapperLoginForm .inputWrapper .bar {
  position: relative;
  display: block;
  width: 100%;
}
.wrapperLoginPage .wrapperLoginForm .inputWrapper .bar:after,
.wrapperLoginPage .wrapperLoginForm .inputWrapper .bar:before {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #6889ff;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.wrapperLoginPage .wrapperLoginForm .inputWrapper .bar:after {
  right: 50%;
}
.wrapperLoginPage .wrapperLoginForm .inputWrapper .bar:before {
  left: 50%;
}
.wrapperLoginPage .wrapperLoginForm .inputWrapper label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.wrapperLoginPage .wrapperLoginForm .validButton {
  font-size: 15px;
  letter-spacing: .5px;
  cursor: pointer;
  position: absolute;
  z-index: 1;
  bottom: 20px;
  right: 20px;
  background-color: #6889ff;
  padding: 7px 20px;
  color: #fff;
  border-radius: 2px;
  text-transform: uppercase;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.wrapperChatPage .sidebar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  background: #fff;
  width: 257px;
  z-index: 10;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  transition: transform ease 0.5s;
}
.wrapperChatPage .sidebar .headerSidebar {
  height: 192px;
  width: 100%;
  background: url(../Contents/images/5.jpg);
  background-size: cover;
  background-position: 50%;
  position: relative;
  box-shadow: 0px 3px 5px #999;
}
.wrapperChatPage .sidebar .headerSidebar .imageProfile {
  width: 86px;
  height: 86px;
  border-radius: 50%;
  position: absolute;
  top: 50px;
  left: 20px;
  background: #31417C;
}
.wrapperChatPage .sidebar .headerSidebar .loginName {
  position: absolute;
  top: 150px;
  left: 20px;
  color: #fff;
  font-size: 21px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 210px;
  text-shadow: 1px 1px 2px #000;
}
.wrapperChatPage .sidebar .listUsers {
  padding: 20px;
  overflow: auto;
  position: absolute;
  top: 192px;
  bottom: 0;
  left: 0;
  right: 0;
  border-right: 1px solid #E0E0E0;
  /* Let's get this party started */
  /* Handle */
}
.wrapperChatPage .sidebar .listUsers::-webkit-scrollbar {
  width: 4px;
}
.wrapperChatPage .sidebar .listUsers::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #6889ff;
}
.wrapperChatPage .sidebar .listUsers h3 {
  color: #999;
  font-weight: 300;
  font-size: 16px;
}
.wrapperChatPage .sidebar .listUsers .login {
  color: #333;
  font-weight: 300;
  margin: 20px 0;
}
.wrapperChatPage .mainContent {
  position: absolute;
  left: 257px;
  float: left;
  right: 0;
  bottom: 0;
  top: 0;
  -ms-transform: translateX(0);
  -moz-transform: translateX(0);
  -webkit-transform: translateX(0);
  transform: translateX(0);
  transition: transform ease 0.5s;
  /*Hack FIREFOX*/
}
.wrapperChatPage .mainContent .shadowSidebar {
  position: fixed;
  background: rgba(0, 0, 0, 0.39);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0;
  transition: opacity ease 0.5s;
}
.wrapperChatPage .mainContent .shadowSidebarVisible {
  opacity: 1;
  z-index: 5;
}
.wrapperChatPage .mainContent .header {
  color: #fff;
  padding: 21px 20px;
  background: #6889ff;
  font-weight: 300;
  font-size: 21px;
}
.wrapperChatPage .mainContent .header .menuButton {
  float: left;
  margin-right: 15px;
  margin-top: 5px;
  cursor: pointer;
  height: 20px;
  display: none;
}
.wrapperChatPage .mainContent .header .menuButton .bar {
  position: relative;
  background: #fff;
  width: 25px;
  height: 3px;
  border-radius: 10px;
}
.wrapperChatPage .mainContent .header .menuButton .bar:after,
.wrapperChatPage .mainContent .header .menuButton .bar:before {
  content: "";
  position: absolute;
  background: #fff;
  width: 25px;
  height: 3px;
  border-radius: 10px;
}
.wrapperChatPage .mainContent .header .menuButton .bar:before {
  top: 8px;
}
.wrapperChatPage .mainContent .header .menuButton .bar:after {
  top: 16px;
}
.wrapperChatPage .mainContent .header .wrapperNumber {
  float: right;
  font-weight: 300;
  min-width: 60px;
}
.wrapperChatPage .mainContent .header .wrapperNumber svg {
  fill: #fff;
  width: 30px;
  float: left;
  margin-right: 10px;
}
.wrapperChatPage .mainContent .wrapperConvers {
  overflow: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 70px;
  bottom: 63px;
  padding-bottom: 63px;
  /* Let's get this party started */
  /* Handle */
}
.wrapperChatPage .mainContent .wrapperConvers::-webkit-scrollbar {
  width: 6px;
}
.wrapperChatPage .mainContent .wrapperConvers::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #6889ff;
}
.wrapperChatPage .mainContent .wrapperConvers .wrapperMessage {
  padding: 16px;
  border-bottom: 1px solid #E0E0E0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
.wrapperChatPage .mainContent .wrapperConvers .wrapperMessage .imageUser {
  margin-right: 16px;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background-size: cover;
  background-position: 50%;
}
.wrapperChatPage .mainContent .wrapperConvers .wrapperMessage .wrapperInfo {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.wrapperChatPage .mainContent .wrapperConvers .wrapperMessage .wrapperInfo .userName {
  font-weight: 500;
  color: #919191;
  line-height: 1.3em;
  max-width: 90%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.wrapperChatPage .mainContent .wrapperConvers .wrapperMessage .wrapperInfo .message {
  margin-top: 1px;
  color: #333;
  font-weight: 300;
}
.wrapperChatPage .mainContent .wrapperConvers .wrapperMessage:nth-child(odd) .imageUser {
  background-image: url(../Contents/images/2.jpg);
}
.wrapperChatPage .mainContent .wrapperConvers .wrapperMessage:nth-child(even) .imageUser {
  background-image: url(../Contents/images/1.jpg);
}
.wrapperChatPage .mainContent _:-moz-tree-row(hover),
.wrapperChatPage .mainContent .wrapperConvers {
  bottom: 120px;
}
.wrapperChatPage .wrapperForm {
  height: 63px;
  position: absolute;
  left: 0;
  right: 0;
  padding: 20px;
  bottom: 0;
  background: #eee;
}
.wrapperChatPage .wrapperForm .shadow {
  position: absolute;
  top: -40px;
  left: 0;
  right: 0;
  height: 40px;
  background: linear-gradient(rgba(255, 255, 255, 0), #eeeeee 80%) top center no-repeat;
}
.wrapperChatPage .wrapperForm .inputWrapper {
  position: relative;
}
.wrapperChatPage .wrapperForm .inputWrapper input {
  outline: 0;
  font-size: 16px;
  color: #333;
  font-weight: 300;
  padding: 10px 10px 5px 0;
  display: block;
  width: 95%;
  border: none;
  border-bottom: 1px solid #757575;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  background: #eee;
  /* firefox 19+ */
  /* ie */
}
.wrapperChatPage .wrapperForm .inputWrapper input:focus {
  outline: none;
}
.wrapperChatPage .wrapperForm .inputWrapper input:focus ~ .bar::before,
.wrapperChatPage .wrapperForm .inputWrapper input:focus ~ .bar::after {
  width: 50%;
}
.wrapperChatPage .wrapperForm .inputWrapper input::-webkit-input-placeholder {
  color: #A9A9A9;
  font-weight: 300;
  font-size: 16px;
}
.wrapperChatPage .wrapperForm .inputWrapper input::-moz-placeholder {
  color: #A9A9A9;
  font-weight: 300;
  font-size: 16px;
}
.wrapperChatPage .wrapperForm .inputWrapper input:-ms-input-placeholder {
  color: #A9A9A9;
  font-weight: 300;
  font-size: 16px;
}
.wrapperChatPage .wrapperForm .inputWrapper input:-moz-placeholder {
  color: #A9A9A9;
  font-weight: 300;
  font-size: 16px;
}
.wrapperChatPage .wrapperForm .inputWrapper .bar {
  position: relative;
  display: block;
  width: 95%;
}
.wrapperChatPage .wrapperForm .inputWrapper .bar:after,
.wrapperChatPage .wrapperForm .inputWrapper .bar:before {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #6889ff;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.wrapperChatPage .wrapperForm .inputWrapper .bar:after {
  right: 50%;
}
.wrapperChatPage .wrapperForm .inputWrapper .bar:before {
  left: 50%;
}
.wrapperChatPage .wrapperForm .buttonChat {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: #6889ff;
  position: absolute;
  top: 0;
  right: 20px;
  cursor: pointer;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  background-image: url(../Contents/images/send.png);
  background-position: 50%;
  background-repeat: no-repeat;
}
.wrapperChatPage .wrapperForm .buttonChat:active,
.wrapperChatPage .wrapperForm .buttonChat:focus {
  outline: none;
}
/*ANIMATIONS*/
@-webkit-keyframes inputHighlighter {
  from {
    background: #5264AE;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@-moz-keyframes inputHighlighter {
  from {
    background: #5264AE;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@keyframes inputHighlighter {
  from {
    background: #5264AE;
  }
  to {
    width: 0;
    background: transparent;
  }
}
/*RESPONSIVE*/
@media screen and (max-width: 600px) {
  .wrapperChatPage .sidebar {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  .wrapperChatPage .sidebarVisible {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  .wrapperChatPage .mainContent {
    -webkit-transform: translateX(-257px);
    -ms-transform: translateX(-257px);
    -moz-transform: translateX(-257px);
    transform: translateX(-257px);
    width: 100%;
  }
  .wrapperChatPage .mainContent .header .menuButton {
    display: block;
  }
}
