<div class="wrapperChatPage">
    <div class="sidebar" ng-class="{'sidebarVisible':showSidebar}">
        <div class="headerSidebar">
            <img class="imageProfile" ng-src="{{CC.user.img}}" />
            <div class="loginName">{{CC.user.login}}</div>
        </div>
        <div class="listUsers">
            <h3>Online Now</h3>
            <div class="user" ng-repeat="user in CC.listUsers">
                <img class="imageList" ng-src="{{user.img}}" />{{user.login}}
            </div>
        </div>
    </div>
    <div class="mainContent">
        <div class="shadowSidebar" ng-class="{'shadowSidebarVisible':showSidebar}" ng-click="showSidebar=false"></div>

        <div class="header">
            <div class="menuButton" ng-click="showSidebar=true">
                <div class="bar"></div>
            </div>
            Team Angular
            <div class="wrapperNumber">
                <svg viewBox="0 0 24 24" height="100%" width="100%" preserveAspectRatio="xMidYMid meet" fit=""
                    style="pointer-events: none; display: block;">
                    <g>
                        <path d="M12 2c-5.52 0-10 4.48-10 10s4.48 10 10 10 10-4.48 10-10-4.48-10-10-10zm0 3c1.66 0 3 1.34 3 3s-1.34 3-3 3-3-1.34-3-3 1.34-3 3-3zm0 14.2c-2.5 0-4.71-1.28-6-3.22.03-1.99 4-3.08 6-3.08 1.99 0 5.97 1.09 6 3.08-1.29 1.94-3.5 3.22-6 3.22z"></path>
                    </g>
                </svg>
                {{CC.listUsers.length}}
            </div>
        </div>

        <div id="wrapperConvers" class="wrapperConvers" chat-scroll>
            <div class="wrapperMessage" ng-repeat="message in CC.messages track by $index">
                <div class="wrapperInfo">
                    <div class="userName">[{{message.date}}] <span style="color: {{message.color}}">{{message.from}}</span> : <span class="message">{{message.text}}</span></div>

                </div>
            </div>
        </div>

        <div class="wrapperForm">
            <div class="shadow"></div>
            <div class="inputWrapper">
                <input type="text" ng-model="CC.message" ng-keyup="CC.keyUp($event)" placeholder="Type message...">
                <span class="bar"></span>
            </div>
            <div class="buttonChat waves-effect waves-circles waves-light" ng-click="CC.sendMessage()"></div>
        </div>
    </div>

<!--    <div ng-hide="!CC.isConfig" class="overflow">
    </div>
    <div ng-hide="!CC.isConfig" class="config">
        <div>
            <span>Pseudo</span>
            <input type="text" ng-model="CC.user.pseudo" />
        </div>
        <div> 
            <input type="file" id="input">
            <canvas class="imgUser" id="configCanvas">
                Le navigateur ne supporte pas les canvas
            </canvas>
        </div>
    </div>-->
</div>
