<div class="col-sm-12">
    <div class="col-sm-6 col-sm-offset-3">

        <div class="header-container text-center">
            {{CC.login}}
        </div>
        <div class="containerText">
            <div ng-repeat="message in CC.messages">
                {{message.from}} : {{message.text}}
            </div>
        </div>
        <div class="form-group">
            <input type="text" class="form-control inputChat" id="Message" ng-model="CC.message" placeholder="Message ...." ng-keyup="CC.keyUp($event)">
            <input type="button" class="btn btn-default buttonChat" value="Envoyer" ng-click="CC.sendMessage()">
        </div>

    </div>
</div>
